body{
    margin: 10% 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(210, 46%, 95%);
    box-sizing: border-box;
    
}

.container {
margin-top: 20% auto; 
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
width: 80vw;
height: 75vh;
box-sizing: border-box;
/* background-color: red; */
}

.title-image{
    width: 100%;
    flex: 0 0 35%;
}

.image-1{
    width: 100%;
    height: 40vh;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;

}

.page-body{
    margin-top: -1%;
    flex: 0 0 75%;
    width: 80vw;
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
}
.main-writeup{
    margin-top: 5px;
    height: 22%;
    /* flex: 0 0 25%; */
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1rem;
    line-height: 120%;
    font-weight: 700;
    font-family: 'Manrope';
    color: hsl(217, 19%, 35%); 
    /* background-color: pink;  */
}

.sub{
    margin-top: -12%;
    /* flex: 0 0 33%; */
    height: 30%;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.9rem;
    font-weight: 550;
    font-family: 'Manrope';
    color: hsl(214, 17%, 51%);
    line-height: 1.7rem;
    /* background-color: yellow; */
}
.footer{
    /* flex: 0 0 24%; */
    display: flex;
    width: 100%;
    height: 18%;
    justify-content: space-evenly;
    align-items: center;
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 7%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: brown; */
}

.profile{
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}


.footer-image{
    width: 24%;
}

.footer-image img {
    border-radius: 50%;
    width: 55px;
}

.profile-info{
    width: 60%;
    padding: 0 auto;
    justify-self: flex-end;
    align-content: center;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 2rem;
    height: 2rem;
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    cursor: pointer;
}
.hidden {
    display: none;
}
.fill {
    box-sizing: border-box;
    width: 57%;
    height: auto;
    align-self: center;
}

.filter {
    filter: brightness(200%) saturate(200%) sepia(100%) grayscale(100%);
  }

  .name {
    font-size: 0.85rem;
    font-weight: 700;
    font-family: 'Manrope';
    color: hsl(217, 19%, 35%);
}

.date {
    font-size: 0.7rem;
    font-weight: 500;
    font-family: 'Manrope';
    color: hsl(214, 17%, 51%);
}

.share-hide {
    /* background-color: orange; */
    display: none;
}
.pop-up {
    /* background-color: brown; */
    display: none;
}

.dark{
    /* background-color: hsl(0, 0%, 9%); */
    background-color: hsl(217, 19%, 35%);
}

.share-show{
    width: 65%;
    padding: 5% 0;
    display: flex;
    justify-content: space-around;
}

.share{
    font-family: 'Manrope';
    color: hsl(214, 17%, 51%); 
    font-weight: 700;
    letter-spacing: 0.2rem;
}



@media screen and (min-width:912px){

    .dark{
        background-color: white;
    }
    .container{
        flex-direction: row;
        width: 70%;
        height: 70vh;
        justify-content: center;
        align-items: center;
        /* background: none; */
    }
    .hidden{
        display: flex;
        flex: 0 0 55%;
        width: 50%;
        justify-content: space-between;
        align-items: center;
        /* border-bottom-left-radius: 7%;
        border-bottom-right-radius: 7%;
        box-sizing: border-box;*/
        padding-left: 20px;
        padding-right: 20px; 
    }
    .share-hide .share{
        display: none;
    }
    .title-image{
        flex: 0 0 38%;
        height: 100%;
    }
    .image-1{
        width: 100%;
        height: 100%;
        border-top-left-radius: 7%;
        border-bottom-left-radius: 7%;
        border-top-right-radius: 0%;
       
    
    }

    .page-body{
        flex: 1 0 65%;
        border-bottom-right-radius: 7%;
        border-top-right-radius: 7%;
        border-bottom-left-radius: 0;
        height: 100%;
        box-sizing: border-box;
        margin-bottom: -10px;
    }
    .main-writeup{
        box-sizing: border-box;
        font-size: 1.6rem;
        padding-left: 10%;
        padding-right: 10%;
        height: 30%;
    }

    .sub {
        box-sizing: border-box;
        font-size: 1.2rem;
        padding-left: 10%;
        padding-right: 10%;
    }

    .footer{
        margin-top: -20%;
    }

    .name {
        font-size: 1.2rem;
    }

    .date {
        font-size: 1rem;
    }
    .fill{
        width: 60%;
    }
     .dark-icon {
        background-color: hsl(217, 19%, 35%);
    } 

    .pop-up{
        display: none;
    }

    .pop-up-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60%;
        height: 10vh;
        border-radius: 12px;
        background-color: hsl(217, 19%, 35%);
    }
    
    .pop-up-arrow {
        position: relative;
        top: -1px;
        width: 65%;
        height: 2vw;
        background-color: hsl(217, 19%, 35%);
        clip-path: polygon(40% 0, 60% 0, 50% 100%);
    }
    
    .pop-show{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: -2%;
        bottom: 30%;
        width: 45%;
    }
}